*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #f1be32;
  --dark-blue: #323348;
  --dark-purple: #110815;
  --light-grey: #efefef;
}

body {
  margin-top:50px;
  background-color: var(--dark-purple);
  color: var(--light-grey);
  text-align: center;
}

.bg-information-container {
  padding:30px;
  margin: 15px 0 25px;
  font-size: 1.2rem;
}

.btn {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  color: var(--dark-purple);
  radius:5px;
  background-color: var(--golden-yellow);
  background-image: linear-gradient(#e9f0ff, #5a6dff);
  border-color: var(--dark-blue);
  border-width: 3px;
   transition: transform 0.3s ease-in-out; 
}

.btn:hover {
  background-image: linear-gradient(#f5ebe0, #84a59d);
  transform: scale(1.3); /* Makes the button 30% bigger */
}
